.header_container{
  grid-area: header; 
  margin: 50px 40px 0px 40px; 

}

.header_image{
  height: 230px;
  border-radius: 25px;
}

.header_image  img{
  @include image;
}

.header_marco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 140px;
  position:absolute;
  margin-top: 30px;
  margin-left: 3%;
  color: $morado_blanco;
  font-size: 20px;
  
}

.header_logo{
  width: 80px;
  img {
    @include image;
  }
}

.header_title{
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-evenly;
  
  i{
    font-size: 16px;
  }
  span{
    font-size: 24px;
  }
}





.header_widget{
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(5, 1fr);
  grid-column: 1/2;
  grid-row:  1 / 5;
  margin-right: 26px;
 
}
.header_tab{
  width: 80px;
  height: 160px;
  grid-column: 1/5;
  grid-row: 4/9;
  background: $morado_claro;
  border-radius: 20px;
  z-index: 10;
  


}

.tab--icon{
  height: 85px;
  font-size: 35px;
  padding: 20px 0px 0px 18px;
  background: $morado;
  border-radius: 20px;
  color: $morado_blanco;
}
.tab--grados{
  display: flex;
  padding: 15px 0px 0px 20px;
  color: $morado_blanco;
  font-size: 16px;


}





