/* 
180,00
50,84
-39,74


37
12
34
*/

.header_container{
  grid-area: header; 
  margin: 50px 40px 0px 40px; 

}

.header_image{
  height: 230px;
  border-radius: 25px;
}

.header_image  img{
  @include image;
}

.header_marco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 140px;
  position:absolute;
  margin-top: 30px;
  margin-left: 3%;
  color: $morado_blanco;
  font-size: 20px;
  padding-top: 20px;
  
}

.header_logo{
  width: 70px;
  img {
    @include image;
  }
}

.header_title{
  display: flex;
  width: 60%;
  flex-direction: row;
  justify-content: space-evenly;
  i{
    font-size: 18px;
  }
  span{
    font-size: 28px;
  }
}

.header_widget-borderTop{
background: #0f0f0f00;
width: 30px;
height: 70px;
border-bottom-left-radius: 10px;
position: absolute;
box-shadow: 0px 31px 0px 0px #32328c;
z-index: 20;
}
.header_widget-borderButtom{
  background: #ffffff00;
  width: 30px;
  height: 30px;
  border-top-left-radius: 10px;
  position: absolute;
  box-shadow: 0px -20px 0px 0px $morado_claro;
  margin-top: 230px;
  z-index: 10;
}


.header_tab{
  width: 80px;
  height: 160px;
  grid-column: 1/5;
  grid-row: 3/8;
  background: $morado_claro;
  border-radius: 15px;
  z-index: 10;
  position: absolute;
  margin-top: 70px;
  
  @include shadow(rgba(53, 51, 51, 0.815));
}

.tab--icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $morado;
  border-radius: 15px;
  img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  span{
    position: absolute;
    margin-top: 58px;
    color: $morado_blanco;
    font-size: 12px;
  }
}

.tab--grados{
  display: flex;
  padding: 15px 0px 0px 20px;
  color: $morado_blanco;
  font-size: 16px;
  border-radius: 15px;

}




/* MEDIA */
@media (max-width: 992px) {
  .header_widget{
    padding-top: 12px;
  }
}

@media (max-width: 768px) {
  .header_widget{  
    padding-top: 18px; 
    grid-row:  1 / 4;
  }
}





