@mixin box-card($direction: column, $justify: space-between, $height: 20%, $width:100%) {

  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  height: $height;
  width: $width;
  background: $blanco;
  border-radius: 15px;

}

@mixin image($radio: 25px) {
  width: 100%;
  height: 100%;
  border-radius: $radio;
  object-fit:cover;
  object-position:top;
}

@mixin imageTitle {
  grid-column: 1/6;
    grid-row: 1/3;
    display: flex;
    flex-direction: row;
    order: 20;
    padding: 10px 0 0 10px;
    color: $morado_blanco;

     div:nth-child(2){
      margin-left: 2px;
      display: flex;
      flex-direction: column;
    }
}