.side_container{
  grid-row: 3 / 11;
  grid-column: 5/7;
  margin: 0 40px 0px 5px;
  height: 455px;
}

.side_section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0px 40px 10px 0;
}

.side_card{
  @include box-card(column , space-between , 24% , 100%); 
  box-shadow: 0px 50px 44px -10px #cccccc;
  .bar{
    border-left: 1px solid darken($color: $blanco, $amount: 15);
    height: 40px;
    padding-left: 10px;
    
  }
}

.side_card-top{
  display: flex;
  flex-direction: row;
}

.side_card-buttom{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.side_card-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $morado_blanco;
  width: 30%;
  height: 60px;
  border-radius: 15px;

  img{
    object-fit: cover;
    width: 70px
  }
}

.side_card-add{
  @include box-card(column , space-evenly , 32% , 100%);
  align-items: center;
  border: 3px dashed;
  border-color: darken($color: $blanco, $amount: 6);
  margin-bottom: 15PX;
  cursor:pointer;
  color: $morado_claro;

  span{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $morado_blanco;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
  }

  i{
    font-size: 60px;
    color: darken($color: $morado_blanco, $amount: 15) ;

  }
}


/* MEDIA */
@media (max-width: 992px) {
  .side_container{
    grid-row: 7 / 11;
    grid-column: 1/7;
    margin: 5px 40px 0px 40px;
    height: 200px;
  }

  .side_section{ 
    align-items: center;
    flex-wrap: wrap;  
    height: 100%;
    padding: 0px 0px 0px 0;
  }

  .side_card{
    @include box-card(column , space-between , 40% , 40%); 
  }
  
  .side_card-add{
    @include box-card(column , space-evenly , 65% , 45%);
    margin-bottom: 0PX; 
  }
}

@media (max-width: 768px) { 
  .side_container{
    grid-row: 10 / 13;
    grid-column: 1/7;
    margin: 5px 40px 10px 40px;
    height: 350px;
  }

  .side_section{
    display: flex;
    flex-direction: row;
    height: 100%;  
  }
  
  .side_card{
    @include box-card(column , space-between , 24% , 80%); 
  }

  .side_card-add{
    @include box-card(column , space-evenly , 32% , 80%);
  }
  
}